body{
    background-color: rgb(186, 252, 230);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    background-color: white;
    margin: 0.3em;
    text-align: center;
}

ul{
    background-color: white;
    font-size: 20px;
}

a{
    display: block;
    font-size: 30px;
}

img{
    display: block;
    margin: 0 auto;
}